@charset "UTF-8";
/* variables pour les couleurs générales */
/* variables pour les animations du loader */
/* Animation du load letter */
@keyframes letter {
  from {
    transform: scaleY(0.5);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes loader {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}
/*Animation du load spinner*/
@keyframes load_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation fade in des menus */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  margin: 0;
  font-weight: 500;
  max-width: 393px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 393px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h1 {
  margin-left: 30px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h3, h4 {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mise en forme des coeurs */
.fa-heart {
  /*bouton like*/
  margin-top: 10px;
  position: absolute;
  transform: scale(0.948);
  /* reduction du scale pour cacher la border noir*/
}

.coeur__2 i {
  opacity: 0;
  /* mise en dégradé du fond de l'image */
  background-image: linear-gradient(#FF79DA, #9356DC);
  /* délimité le dégradé à la forme */
  -webkit-background-clip: text;
  /* rendre le reste transparant */
  -webkit-text-fill-color: transparent;
  /* transition d'apparition du coeur coloré*/
}
.coeur__2 i:hover {
  transition: opacity 2s;
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}
.coeur__2 i:hover .coeur__1 {
  opacity: 0;
}

/* Fin de mise en forme des coeurs */
/* Début Mise en page Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  background: #353535;
}
footer ul {
  margin-top: 0px;
  padding-left: 0px;
}
footer li {
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding-left: 25px;
  margin-bottom: 15px;
}
footer i {
  margin-right: 7px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

/* Fin Mise en page Footer*/
/* Début Mise en page INDEX.HTML */
/* Début Mise en page Loader */
.loader {
  position: absolute;
  z-index: 2;
  opacity: 1;
  background-color: #f6f6f6;
  width: 393px;
  height: 1900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* déclenchement de l'animation d'apparition du fond blanc ayant la durée de 3 répétition de l'anim lettre */
  animation: loader 1000ms forwards 1 alternate cubic-bezier(0, 1.14, 0, 1) 3000ms;
}
.loader__circle {
  border: 1px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 100%;
  width: 370px;
  height: 370px;
  /* déclenchement de l'animation du load spinner */
  animation: load_spinner 4s linear forwards;
  /* positionnement du spinner au milieu */
  margin: auto;
  position: absolute;
  top: 80;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader__container {
  position: absolute;
  margin-top: 250px;
  width: 40vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}
.loader__container__bis {
  display: flex;
  flex-direction: row;
  margin-left: 13px;
  margin-top: 30px;
  width: 99%;
}
.loader__container__letter {
  height: 100%;
  width: 4vh;
  font-family: "Shrikhand", cursive;
  margin-right: 15px;
  font-size: 25px;
  /* déclenchement de l'animation des lettres */
  animation: letter 1000ms backwards 3 alternate ease-in-out;
}
.loader__container__letter--1 {
  animation-delay: 200ms;
}
.loader__container__letter--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--2 {
  animation-delay: 400ms;
}
.loader__container__letter--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--3 {
  animation-delay: 600ms;
}
.loader__container__letter--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--4 {
  animation-delay: 800ms;
}
.loader__container__letter--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--5 {
  animation-delay: 1000ms;
}
.loader__container__letter--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--6 {
  animation-delay: 1200ms;
}
.loader__container__letter--6-inv {
  animation-delay: 1200ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--7 {
  animation-delay: 1400ms;
}
.loader__container__letter--7-inv {
  animation-delay: 1400ms;
  animation-direction: alternate-reverse;
}
.loader__container__letter--8 {
  animation-delay: 1600ms;
}
.loader__container__letter--8-inv {
  animation-delay: 1600ms;
  animation-direction: alternate-reverse;
}

/* FIN Mise en page du loader */
/*  Mise en page Header */
.header__logo img {
  height: 30px;
  margin-top: 10px;
}

/* Début Mise en page section fonctionnement */
.accueil-fonctionnement {
  width: 100%;
  margin-bottom: 40px;
}
.accueil-fonctionnement__recherche {
  border-top: 2px solid #d0d0d0;
  background-color: #eaeaea;
  width: 100%;
  height: 45px;
  box-shadow: 0 -5px 5px -5px #d0d0d0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.accueil-fonctionnement__recherche i {
  margin-right: 10px;
}
.accueil-fonctionnement__ancre_restaurant {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 270px;
}
.accueil-fonctionnement__ancre_restaurant h1 {
  /*retour à la ligne des H1 section fonctionnement */
  margin-top: 30px;
  width: 60%;
}
.accueil-fonctionnement__ancre_restaurant p {
  /*retour à la ligne des P section fonctionnement */
  width: 80%;
  margin-top: 0px;
  margin-bottom: 30px;
}

#accueil-fonctionnement__ancre_restaurant--button {
  /* Mise en forme bouton "explorer nos restaurants"*/
  border-radius: 25px 25px 25px 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  /* dégradé du background*/
  color: #ffffff;
  height: 45px;
  width: 200px;
  box-shadow: 1px 5px 10px #c0c0c0;
}
#accueil-fonctionnement__ancre_restaurant--button:hover {
  transform: scale(1.05);
}

/* Début Mise en page des Etapes */
.accueil-fonctionnement__touteslesetapes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accueil-fonctionnement__touteslesetapes h1 {
  margin-left: -175px;
}
.accueil-fonctionnement__touteslesetapes__etape {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  width: 300px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 10px #d0d0d0;
}
.accueil-fonctionnement__touteslesetapes__etape:hover {
  background: #f5edff;
  box-shadow: 3px 7px 5px #d0d0d0;
}
.accueil-fonctionnement__touteslesetapes__etape:hover i {
  color: #9356DC;
}
.accueil-fonctionnement__touteslesetapes__etape i {
  margin-right: 25px;
  color: #7b7b7b;
}
.accueil-fonctionnement__touteslesetapes__etape h1 {
  width: 90%;
}
.accueil-fonctionnement__touteslesetapes__etape h4 {
  margin-top: 22px;
}

.accueil__etape--cerclenumetape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
  height: 25px;
  width: 25px;
  margin-right: 25px;
  color: #ffffff;
  margin-left: -10px;
}

/* Fin Mise en page des Etapes */
/* Fin Mise en page fonctionnement*/
/* Début Mise en page secdtion Accueil-Restaurants*/
#accueil-restaurants {
  min-width: 100%;
  background-color: #f6f6f6;
  min-width: 100%;
}
#accueil-restaurants h1 {
  margin-top: 40px;
}

.accueil-restaurants__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 393px;
  margin-bottom: 40px;
}
.accueil-restaurants__liste__card {
  /* Mise en forme des cards*/
  background: #ffffff;
  height: 240px;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #d0d0d0;
}
.accueil-restaurants__liste__card__titre {
  /* Mise en forme zone texte sous l'image*/
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: -25px;
}
.accueil-restaurants__liste__card__titre--zonetexte {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.accueil-restaurants__liste__card img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.accueil-restaurants__liste__card h3 {
  margin-bottom: 1%;
  margin-top: 0px;
  margin-left: 3%;
}
.accueil-restaurants__liste__card p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 400;
  margin-left: 3%;
}
.accueil-restaurants__liste__card__image--nouveau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  position: relative;
  top: -165px;
  left: 260px;
}
.accueil-restaurants__liste__card__image--nouveau p {
  color: #21997b;
  font-size: 14px;
  font-weight: 700;
}

/* Fin Mise en page section Accueil-Restaurants*/
/* Debut Mise en page menu.HTML*/
header i {
  position: absolute;
  top: 8px;
  margin-left: -100px;
  color: #000000;
}

.menu-imagerestaurant img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.menu-lacarte {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 80px;
}
.menu-lacarte__titre {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25px;
}
.menu-lacarte__titre h1 {
  margin-left: -40px;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  font-size: 28px;
}
.menu-lacarte__titre i {
  margin-top: 45px;
}
.menu-lacarte__liste {
  width: 100%;
  /* automatise la mise en page pour les entrées, plats et desserts*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-lacarte__liste--titre--1 {
  animation: fadein 3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--2 {
  animation: fadein 4s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--3 {
  animation: fadein 5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--4 {
  animation: fadein 6s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--5 {
  animation: fadein 7s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--6 {
  animation: fadein 8s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--7 {
  animation: fadein 9s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--8 {
  animation: fadein 10s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--9 {
  animation: fadein 11s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--10 {
  animation: fadein 12s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.menu-lacarte__liste--titre--souligne {
  min-height: 3px;
  min-width: 40px;
  background-color: #99E2D0;
  margin-top: -10px;
  margin-bottom: 20px;
}
.menu-lacarte__liste h3 {
  font-size: 16px;
  font-weight: 400;
}
.menu-lacarte__liste--plats--1 {
  animation: fadein 3s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--1:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--1:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--1:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--1:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--1:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--2 {
  animation: fadein 4s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--2:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--2:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--2:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--2:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--2:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--3 {
  animation: fadein 5s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--3:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--3:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--3:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--3:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--3:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--4 {
  animation: fadein 6s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--4:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--4:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--4:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--4:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--4:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--5 {
  animation: fadein 7s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--5:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--5:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--5:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--5:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--5:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--6 {
  animation: fadein 8s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--6:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--6:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--6:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--6:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--6:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--7 {
  animation: fadein 9s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--7:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--7:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--7:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--7:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--7:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--8 {
  animation: fadein 10s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--8:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--8:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--8:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--8:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--8:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--9 {
  animation: fadein 11s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--9:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--9:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--9:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--9:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--9:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--10 {
  animation: fadein 12s;
  width: 95%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 10px #c0c0c0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu-lacarte__liste--plats--10:hover {
  /* apparition de la zone verte au survol */
  /* rotation du cercle dans la zone verte*/
}
.menu-lacarte__liste--plats--10:hover .menu-lacarte__liste--plats--texte--menu h3 {
  width: 200px;
}
.menu-lacarte__liste--plats--10:hover .menu-lacarte__liste--plats--texte--menu p {
  width: 160px;
}
.menu-lacarte__liste--plats--10:hover .menu-lacarte__liste--plats--rectangle-animation {
  margin-right: 0px;
  min-width: 74px;
  transition: margin-right 0.5s;
}
.menu-lacarte__liste--plats--10:hover .menu-lacarte__liste--plats--rectangle-animation--circle {
  transform: rotate(360deg);
}
.menu-lacarte__liste--plats--texte {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-overflow: ellipsis;
}
.menu-lacarte__liste--plats--texte--menu {
  width: 230px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.menu-lacarte__liste--plats--texte--menu h3 {
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 0px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 800;
  width: 300px;
}
.menu-lacarte__liste--plats--texte--menu p {
  margin-top: 8px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  width: 260px;
}
.menu-lacarte__liste--plats--texte--prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  width: 35%;
}
.menu-lacarte__liste--plats--rectangle-animation {
  background-color: #99E2D0;
  max-width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -74px;
}
.menu-lacarte__liste--plats--rectangle-animation--circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #ffffff;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.menu-lacarte__liste--plats--rectangle-animation--circle i {
  margin-left: 5px;
}
.menu-lacarte__commander {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .main {
    max-width: 1000px;
  }

  /* Media Querry pour l'index.html*/
  .loader {
    width: 1000px;
  }

  .accueil-fonctionnement__ancre_restaurant {
    height: 200px;
    margin-bottom: 0px;
  }
  .accueil-fonctionnement__ancre_restaurant h1 {
    margin-top: 20px;
  }

  #accueil-fonctionnement__ancre_restaurant--button {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .accueil-fonctionnement__touteslesetapes h1 {
    margin-left: -775px;
    margin-bottom: 20px;
  }
  .accueil-fonctionnement__touteslesetapes__sansletitre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .accueil-fonctionnement__touteslesetapes__etape {
    width: 30%;
    margin-bottom: 10px;
  }

  .accueil-restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .accueil-restaurants__liste__card {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .accueil-restaurants__liste__card__image--nouveau {
    left: 340px;
  }

  /* fin Media Querry pour index.html*/
  /* début Media Querry pour menu_restaurant.html*/
  .menu-imagerestaurant img {
    width: 1000px;
    height: 300px;
    object-fit: cover;
  }

  .menu-lacarte__titre {
    width: 890px;
    margin-left: 60px;
    justify-content: space-between;
  }

  .menu-lacarte__commander {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .menu-lacarte__liste--plats--texte--menu h3, p {
    overflow: visible;
    text-overflow: visible;
  }

  /* fin Media Querry pour menu_restaurant.html */
  .menu-lacarte {
    margin-bottom: 0;
  }
}
/* fin Media querry pour 1024px */
@media screen and (min-width: 1600px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1590px;
  }

  .main {
    max-width: 1590px;
  }

  /* Media Querry pour l'index.html*/
  .loader {
    width: 1590px;
  }

  .accueil-fonctionnement__touteslesetapes h1 {
    margin-left: -1350px;
  }
  .accueil-fonctionnement__touteslesetapes__etape {
    width: 30%;
    margin-bottom: 10px;
  }

  .accueil-restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .accueil-restaurants__liste__card {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .accueil-restaurants__liste__card__image--nouveau {
    left: 220px;
  }

  /* fin Media Querry pour index.html*/
  /* début Media Querry pour menu_restaurant.html*/
  .menu-imagerestaurant img {
    width: 1590px;
    height: 300px;
    object-fit: cover;
  }

  .menu-lacarte__titre {
    width: 1450px;
    margin-left: 60px;
    justify-content: space-between;
  }

  .menu-lacarte__liste__global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu-lacarte__liste {
    width: 30%;
    justify-content: space-around;
  }

  /* fin Media Querry pour menu_restaurant.html */
}
/* fin Media querry pour 1600px */

/*# sourceMappingURL=style.css.map */
