

@media screen and (min-width: 1024px) {
    body{
        margin-left:auto;
        margin-right: auto;
        max-width:1000px;        
    }    
    .main{
        max-width: 1000px;    
    }


    /* Media Querry pour l'index.html*/
    .loader{
        width:1000px;
        height:100%;
    }

    .accueil-fonctionnement__ancre_restaurant {
            height: 200px;
            margin-bottom: 0px;
        & h1{
            margin-top:20px;
        }
    }

    #accueil-fonctionnement__ancre_restaurant--button{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .accueil-fonctionnement__touteslesetapes{
        & h1{
            margin-left:-775px;
            margin-bottom: 20px;
        }
        &__sansletitre{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width:100%;
        }
        &__etape{
            width: 30%;
            margin-bottom: 10px;        
        }
    }

    .accueil-restaurants__liste{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
        &__card{
            width:45%;
            margin-left:auto;
            margin-right:auto;     
            &__image--nouveau{
                left:340px;
            }       
        }
    }
    /* fin Media Querry pour index.html*/
    
    /* début Media Querry pour menu_restaurant.html*/
    .menu-imagerestaurant img{  
        width:1000px;
        height: 300px;
        object-fit: cover;
    }

    .menu-lacarte__titre{         
        width:890px;
        margin-left: 60px;
        justify-content: space-between;
    }

    .menu-lacarte__commander{
        margin-top:20px;
        margin-bottom:20px;
    }
    
    .menu-lacarte__liste--plats--texte--menu h3, p{
        overflow: visible;
        text-overflow: visible;
    }  
    /* fin Media Querry pour menu_restaurant.html */
    
    .menu-lacarte{         
        margin-bottom: 0;
    }
}

/* fin Media querry pour 1024px */




@media screen and (min-width: 1600px) {
    body{
        margin-left:auto;
        margin-right: auto;
        max-width:1590px;        
    }    
    .main{
        max-width: 1590px;    
    }


    /* Media Querry pour l'index.html*/
    .loader{
        width:1590px;
    }   

    .accueil-fonctionnement__touteslesetapes{
        & h1{
            margin-left:-1350px;
        }
        &__etape{
            width: 30%;
            margin-bottom: 10px;        
        }
    }

    .accueil-restaurants__liste{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
        &__card{
            width:20%;
            margin-left:auto;
            margin-right:auto;     
            &__image--nouveau{
                left:220px;
            }       
        }
    }
    /* fin Media Querry pour index.html*/
    
    /* début Media Querry pour menu_restaurant.html*/
    .menu-imagerestaurant img{  
        width:1590px;
        height: 300px;
        object-fit: cover;
    }

    .menu-lacarte__titre{         
        width:1450px;
        margin-left: 60px;
        justify-content: space-between;
    }
       
    .menu-lacarte__liste__global{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-lacarte__liste{
        width:30%;
        justify-content: space-around;
    }
    /* fin Media Querry pour menu_restaurant.html */
}

/* fin Media querry pour 1600px */