/* variables pour les couleurs générales */

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-boxshadow:#d0d0d0;
$colour-bg-card: #f6f6f6;

/* variables pour les animations du loader */
$size: 4vh;
$anim-dur: 1000ms;
$anim-delay: 200ms;